<ion-view id="page1">
  <ion-tabs class="tabs-striped tabs-background-royal tabs-top tabs-color-light" id="tabsController-tabs1">
    <ion-tab title="Vendas" icon="ion-ios-cart" href="#/page1/vendas" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Produtos" icon="ion-cube" href="#/page1/produtos" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Relatórios" icon="ion-arrow-graph-up-right" href="#/page1/relatório" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
